{% load dc_forms %}
{% if not messages %}
  {% if postcode and 'postcode' not in request.META.QUERY_STRING %}
    <form id="mailing_list_form" method="post"
      action="{% url 'dc_signup_form:election_reminders_signup_view' %}?postcode={{ postcode|urlencode }}{% if request.META.QUERY_STRING %}&amp;{{ request.META.QUERY_STRING }}{% endif %}">
  {% else %}
    <form id="mailing_list_form" method="post"
      action="{% url 'dc_signup_form:election_reminders_signup_view' %}?{{ request.META.QUERY_STRING }}">
  {% endif %}
      {% csrf_token %}
      <div class="form-group">
        {{ election_reminders_form|dc_form }}
      </div>
      <button type="submit" class="button">Join us</button>
    </form>
{% endif %}
